Please sign up:

<form action="/users/sign_up" method="post">
  <label for="email">
    Enter email: <input type="text" name="email">
  </label>
  <label for="password">
    Enter password: <input type="password" name="password">
  </label>
  <input type="submit" value="Submit">
</form>