<form action="/links/index" method="post">
  <label for="title">
    NAME: <input type="text" name="title">
  </label>
  <br>
  <label for="url">
    URL:   <input type="text" name="url">
  </label>
  <label for="url">
    TAG:   <input type="text" name="tag">
  </label>
  <input type="submit" value="Submit">
</form>